* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 69px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo img {
    height: 50px;
}

.navigation {
    display: flex;
    gap: 20px;
}

main {
    top: 69px;
    position: relative;
}

section#mission {
    display: block;
    height: 700px;
    background: url('../images/img-mission-background.webp');
}